/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #3b82f6;
  --color-bg: #ffffff;
  --color-text: #0f172a;
  --color-card: #f8fafc;
  --color-border: #e2e8f0;
}

.dark {
  --color-primary: #60a5fa;
  --color-bg: #0f172a;
  --color-text: #f1f5f9;
  --color-card: #1e293b;
  --color-border: #334155;
}

@theme {
  --color-primary: var(--color-primary);
  --color-bg: var(--color-bg);
  --color-text: var(--color-text);
  --color-card: var(--color-card);
  --color-border: var(--color-border);
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
